<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>

<div class="header">
  <h1>Ftp NodeJs</h1>
  
</div>

<div class="topnav">
  <a href="#"></a>
  <a href="#"></a>
  <a href="#"></a>
  <a href="#" style="float:right">!</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Carica file</h2>
         
        
    <div class="fakeimg" style="background-color:cadetblue;" style="height:200px;">
        <h4>Seleziona uno o più file da caricare</h4>

    <!--per inviare i dati del cliente al server-->
   <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" multiple ><br /><br>
        <p><input type="submit" value="Upload" ></p>
   </form> 
    
    </div>
    <br><br>
      <p>Client FTP</p>
      <p></p>
    </div>
 
  </div>
  <div class="rightcolumn">
   
    <div class="card">
      <h3>Gruppo</h3>
     
      <div class="fakeimg" style="background-color:white;"><li>Andrea Dallorto</li></div>
      <div class="fakeimg" style="background-color:white;"><li>Anielle Macedo</li></div>
      <div class="fakeimg" style="background-color:white;"><li>Elisabetta Barbi</li></div>
      <div class="fakeimg" style="background-color:white;"><li>Ilya Pizzo Illarionov</li></div>
      <div class="fakeimg" style="background-color:white;"><li>Pietro Cipriani</li></div>   
  
    </div>
    
  </div>
</div>

<div class="footer">
  <h2>Progetto ITS 2019-2021 - Insegnante Dino Olivieri</h2>
</div>

</body>


</html>
