<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style="background-color:lightgreen;width:590px;height:90px;">
        <h1>I file sono stati caricati con successo</h1>
        <form>
            <input type="button" value="Torna alla homepage" onClick="history.go(-1);return true;">
        </form>
    </div> 
</body>
</html>